<?php

return array(
    'db' => array(
        'driver' => 'Mysqli',
        'database' => 'database',
        'username' => 'username',
        'password' => 'password',
        'hostname' => '127.0.0.1',
        'options' => array(
            'buffer_results' => 1,
        ),
    ),
);